<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <style>
        /* #search {
            position: absolute;
            background-color: #f6f6f6;
            min-width: 230px;
            border: 1px solid #ddd;
            z-index: 1;
        } */

        a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
    </style>
</head>

<body>
    <div class='container'>
        <br>
        <div class="row text-center">
            <label class='col-1 align-middle'>股票代碼</label>
            <input id='stock_id' type="text" class="form-control col-1" placeholder="ex: 2330">
            <!-- <ul id='search-list' class="list-group">
                <a href='#' class="list-group-item">1101</a>
                <a href='#' class="list-group-item">1102</a>
                <a href='#' class="list-group-item">1103</a>
                <a href='#' class="list-group-item">1104</a>
                <a href='#' class="list-group-item">1107</a>
            </ul> -->
            <button id='add_btn' class='col-1'>新增</button>
            <div class='col-9 text-center'>產業代碼</div>
        </div>

        <br><br>
        <!-- <div class="w-25 h-50" style='overflow: auto;'>
        </div> -->
        <form id='form' action="result" method="post">
            {% csrf_token %}
            <div class="row h-50">
                <div id='stock_list_0' class="col-5 h-100 border px-0" style='overflow: auto;'>
                    <div class="list-group" id="list-tab" role="tablist">
                        <!-- <input href="#" class="list-group-item list-group-item-action" readonly="true" value='2330'
                            style="cursor:'pointer';"></input> -->
                    </div>
                </div>
                <div class='col-1'></div>
                <div id='stock_list_1' class="col-5 h-100 border px-0" style='overflow: auto;'>
                    <div class="list-group" id="list-tab" role="tablist">
                        <!-- <input href="#" class="list-group-item list-group-item-action" readonly="true" value='2330'
                            style="cursor:'pointer';"></input> -->
                    </div>
                </div>
            </div>
            <br>
        </form>
        <div class='row justify-content-center'>
            <button id='submit_btn' class='col-auto'>送出</button>
        </div>
    </div>
    <script>
        (() => {
            const STOCK_DATA = JSON.parse('{{ value|safe }}');
            console.log(STOCK_DATA)
            const ELEM_ID = {
                add_btn: '#add_btn',
                add_stock_id: '#stock_id',
                list0: '#stock_list_0',
                list1: '#stock_list_1',
                search: '#search-list'
            }
            const inp_CLASS = ['list-group-item', 'list-group-item-action']
            const MAX_SEARCH_NUM = 5
            var clicked = null;

            // create search list
            // const search_list = $(ELEM_ID.search)
            // for (let [key, value] of Object.entries(STOCK_DATA)) {
            //     for (let [key2, value2] of Object.entries(value)) {
            //         const a = document.createElement('a')
            //         a.setAttribute('class', inp_CLASS[0])
            //         a.innerHTML = key2
            //         a.style.display = 'none'
            //         search_list.append(a)
            //     }
            // }

            // $(ELEM_ID.add_stock_id).keyup(function () {
            //     let input, filter, ul, li, a, i;
            //     let cnt = MAX_SEARCH_NUM
            //     filter = this.value
            //     a = search_list.find("a");
            //     for (i = 0; i < a.length; i++)
            //         a[i].style.display = "none";
            //     for (i = 0; i < a.length; i++) {
            //         txtValue = a[i].innerText;
            //         if (txtValue.indexOf(filter) > -1) {
            //             a[i].style.display = "";
            //             --cnt
            //             console.log('show')
            //         }
            //         if (cnt <= 0) break
            //     }
            //     console.log(cnt)
            // })

            for (let [key, value] of Object.entries(STOCK_DATA)) {
                const new_stock_inp = document.createElement('input')
                inp_CLASS.forEach(e => { new_stock_inp.classList.add(e) });
                new_stock_inp.value = key
                new_stock_inp.href = "#"
                new_stock_inp.style.cursor = 'pointer'
                new_stock_inp.onclick = function () {
                    $(ELEM_ID.list0).empty()
                    for (let [key2, value2] of Object.entries(value)) {
                        $(ELEM_ID.add_stock_id).val(key2)
                        addStock()
                    }
                }
                $(ELEM_ID.list1).append(new_stock_inp)
            }
            // $(ELEM_ID.list1)

            $('#submit_btn').on('click', function () {
                stocks_inps = document.getElementsByName("stock");
                if (stocks_inps.length == 0) return
                for (let i = 0; i < stocks_inps.length; ++i)
                    stocks_inps[i].value = stocks_inps[i].value.substring(0, 4)
                $('#form').submit()
            })

            $(ELEM_ID.add_btn).click(addStock);

            $(ELEM_ID.add_stock_id).keydown(function (event) {
                if (event.which == 13)
                    $(ELEM_ID.add_btn).click()
            });

            function addStock() {
                const input = $(ELEM_ID.add_stock_id)
                const value = check_input(input.val())
                input.val('')
                // alert('type error')

                if (!value) {
                    console.log('type error')
                    return
                }
                // add new one in stock list
                const new_stock_inp = document.createElement('input')
                inp_CLASS.forEach(e => { new_stock_inp.classList.add(e) });
                new_stock_inp.value = value
                new_stock_inp.name = 'stock'
                new_stock_inp.href = "#"
                new_stock_inp.readOnly = true
                new_stock_inp.style.cursor = 'pointer'
                new_stock_inp.addEventListener("mousedown", function (event) {
                    event.preventDefault();
                });
                new_stock_inp.onclick = function () {
                    if (clicked === this)
                        clicked.remove()
                    else
                        clicked = this
                }
                $(ELEM_ID.list0).append(new_stock_inp)
            }

            function check_input(k) {
                // zero ?
                if (k.length == 0) return false
                // exist ?
                stocks_inps = document.getElementsByName("stock");
                for (let i = 0; i < stocks_inps.length; ++i)
                    if (k == stocks_inps[i].value.substring(0, 4)) return
                // correct ?
                for (let [key, value] of Object.entries(STOCK_DATA)) {
                    for (let [key2, value2] of Object.entries(value)) {
                        if (k == key2)
                            return key2 + '   ' + value2
                    }
                }
                return false
            }
        })();

    </script>
</body>

</html>